.listagem{
    max-width: 200px;
}
.listagem .pokemon{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
    background-color: #6b727a;
    color: #ffffff;
    padding: 0 10px;
    cursor: pointer;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    min-height: 55px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition: 0.15s ease-in-out;
}
.listagem .pokemon:hover{
    transform: scale(1.05);
    background-color: #86aed1;
}
.listagem .pokemon img{
    width: 25%;
    border-radius: 50%;
}
.listagem .pokemon span{
    padding-right: 10px;
}
.listagem .pokemon.ativo{
    background-color: #6694c2;
}